*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2c2c2e;
}
/*Header*/
header{
    color: crimson;
    text-align: center;
    margin: 50px;
}
/*Main*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    color: goldenrod;
    background-color: firebrick;
}
th{
    padding: 20px 30px;
    text-transform: uppercase;
}
tbody{
    color: white;
}
td{
    text-align: center;
    padding: 15px;
    border-bottom: solid 1px firebrick;
}